[COLLECTOR]
frequency = {{ cfrequency }}
openweathermap-key = {{ openweathermap-key }}
openweathermap-name = {{ openweathermap-name }}
openweathermap-city-id = {{ openweathermap-city-id }}

[PUSHER]
frequency = {{ pfrequency }}
metric-namespace = {{ metric-namespace }}

[QUEUE]
url = {{ qurl }}
name = {{ qname }}
