[Unit]
Description=Collector service, taking data from the Arduino.
Documentation=https://github.com/jjpavlik/homemetrics
After=network.target

[Service]
Type=simple
ExecStart=/opt/homemetrics/collector.sh start

[Install]
