[COLLECTOR]
frequency = {{ cfrequency }}
openweathermap-key = {{ openweathermap_key }}
openweathermap-name = {{ openweathermap_name }}
openweathermap-city-id = {{ openweathermap_city_id }}

[PUSHER]
frequency = {{ pfrequency }}
metric-namespace = {{ metric_namespace }}

[QUEUE]
url = {{ qurl }}
name = {{ qname }}
